<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/png"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png" />
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <!-- <link rel="stylesheet" href="../stylesheets/chart.css"> -->
    <link rel="stylesheet" href="../stylesheets/modal.css">
    <link rel="stylesheet" href="../stylesheets/admin.css">
    <script src="../script/modal.js" defer></script>
    <script src="../script/settingFilter.js" defer></script>
    <!-- icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <!-- header -->
    <header>
        <nav id="leftNav">
            <a href="/">
                <div><span class="material-symbols-outlined">
                        globe_asia
                    </span></div>
            </a>
            <a href="/profile">
                <div><span class="material-symbols-outlined">
                        account_circle
                    </span></div>
        </nav>

        <div id="logoTitle">
            <div id="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png"
                    alt="">
            </div>
            <h1 id="currentPage">Setting</h1>
        </div>

        <nav id="rightNav">
            <!-- for admin only -->
            <a href="/admin">
                <div><span class="material-symbols-outlined">
                        folder_managed
                    </span></div>
            </a>
            <div class="noti-center">
                <div><span class="material-symbols-outlined">
                        notifications
                    </span></div>
                </div>
            <a href="/setting">
                <div><span class="material-symbols-outlined">
                        settings
                    </span></div>
            </a>
        </nav>
    </header>
    <!-- end header -->

    <!-- switch -->
    <div id="adminSwitch">
        <div class="adminSwitchItem" status="on">Quản lý</div>
        <div class="adminSwitchItem" status="off">Đăng ký mới</div>
    </div>

    <!-- manage -->
    <section id="adminManage">
        <form id="findingForm" method="post">
            <label for="searchInfo">
                <h1>Tìm kiếm thông tin thiết bị</h1>
            </label>
            <br>
            <input list="infoList" name="searchInfo" id="searchInfo" placeholder="Tìm kiếm thông tin thiết bị">
            <datalist id="infoList">
                <option value="Thông tin thiết bị">
                <option value="Thông tin về thiết bị">
                <option value="Thông tin về thiết bị">
                <option value="Thông tin về thiết bị">
                <option value="Thông tin về thiết bị">
            </datalist>
            <input type="submit" value="Tìm">
        </form>

        <!-- main -->
        <div id="adminMain">

            <!-- list view -->
            <div id="settingListArea">
                <!-- filter -->
                <div class="listFilter">
                    <div>Sắp xếp theo: </div>
                    <div status="off">Tên</div>
                    <div status="off">Địa chỉ</div>
                    <div status="off">Trạng thái</div>
                    <div status="off">Thời gian đăng ký</div>
                    <div status="shut" class="d-none">Huỷ</div>
                </div>

                <!-- list -->
                <div id="listDefault">
                    <div class="listItem">
                        <div class="listItemID">000121110011</div>
                        <div class="listItemLocation">09 Vu Pham Ham, Yen Hoa, Cau Giay, Ha Noi</div>
                        <div class="listItemContentStatus" status="true">Đang hoạt động</div>
                        <div class="listItemContent">
                            <div class="listItemContentName">Nguyen Van A</div>
                            <div class="listItemContentTel">0123456789</div>
                        </div>
                    </div>
                    <div class="listItem">
                        <div class="listItemID">000121110011</div>
                        <div class="listItemLocation">09 Vu Pham Ham, Yen Hoa, Cau Giay, Ha Noi</div>
                        <div class="listItemContentStatus" status="true">Đang hoạt động</div>
                        <div class="listItemContent">
                            <div class="listItemContentName">Nguyen Van A</div>
                            <div class="listItemContentTel">0123456789</div>
                        </div>
                    </div>
                    <div class="listItem">
                        <div class="listItemID">000121110011</div>
                        <div class="listItemLocation">09 Vu Pham Ham, Yen Hoa, Cau Giay, Ha Noi</div>
                        <div class="listItemContentStatus" status="true">Đang hoạt động</div>
                        <div class="listItemContent">
                            <div class="listItemContentName">Nguyen Van A</div>
                            <div class="listItemContentTel">0123456789</div>
                        </div>
                    </div>
                    <div class="listItem">
                        <div class="listItemID">000121110011</div>
                        <div class="listItemLocation">09 Vu Pham Ham, Yen Hoa, Cau Giay, Ha Noi</div>
                        <div class="listItemContentStatus" status="true">Đang hoạt động</div>
                        <div class="listItemContent">
                            <div class="listItemContentName">Nguyen Van A</div>
                            <div class="listItemContentTel">0123456789</div>
                        </div>
                    </div>
                    <div class="listItem">
                        <div class="listItemID">000121110011</div>
                        <div class="listItemLocation">09 Vu Pham Ham, Yen Hoa, Cau Giay, Ha Noi</div>
                        <div class="listItemContentStatus" status="true">Đang hoạt động</div>
                        <div class="listItemContent">
                            <div class="listItemContentName">Nguyen Van A</div>
                            <div class="listItemContentTel">0123456789</div>
                        </div>
                    </div>
                    <div class="listItem">
                        <div class="listItemID">000121110011</div>
                        <div class="listItemLocation">09 Vu Pham Ham, Yen Hoa, Cau Giay, Ha Noi</div>
                        <div class="listItemContentStatus" status="true">Đang hoạt động</div>
                        <div class="listItemContent">
                            <div class="listItemContentName">Nguyen Van A</div>
                            <div class="listItemContentTel">0123456789</div>
                        </div>
                    </div>

                </div>

                <!-- search result - show after search only -->
                <div id="listResult" class="d-none">

                </div>
            </div>

            <!-- edit info -->
            <div id="settingEditArea">
                <div id="settingEditAreaMap">
                    <iframe src="https://korywka.github.io/mapbox-controls/preview/" frameborder="0"></iframe>
                </div>
                <div id="settingEditAreaInfo">
                    <form id="editInfoForm" method="post">
                        <div>
                            <label for="deviceName">Tên người dùng: </label>
                            <input type="text" name="deviceName" id="deviceName" placeholder="Tên người dùng" value="">
                        </div>
                        <div>
                            <label for="deviceTel">Số điện thoại: </label>
                            <input type="text" name="deviceTel" id="deviceTel" placeholder="Số điện thoại" value="">
                        </div>
                        <div>
                            <label for="deviceLocation">Địa chỉ: </label>
                            <input type="text" name="deviceLocation" id="deviceLocation" placeholder="Địa chỉ" value="">
                        </div>
                        <div>
                            <label for="deviceStatus">Trạng thái: </label>
                            <input type="text" name="deviceStatus" id="deviceStatus" placeholder="Trạng thái" value="">
                        </div>
                        <div>
                            <label for="devicePassword">Đổi mật khẩu: </label>
                            <input type="text" name="devicePassword" id="devicePassword" placeholder="Đổi mật khẩu"
                                value="">
                        </div>
                        <input type="submit" value="Lưu">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- register -->
    <section id="adminRegister" class="d-none">
        <div>
            <form id="registerForm" method="post">
                <div>
                    <label for="registerID">ID thiết bị: </label>
                    <br>
                    <input type="text" name="registerID" id="registerID" placeholder="ID thiết bị">
                </div>
                <div>
                    <label for="registerName">Tên người dùng: </label>
                    <input type="text" name="registerName" id="registerName" placeholder="Tên người dùng">
                </div>
                <div>
                    <label for="registerTel">Số điện thoại: </label>
                    <input type="text" name="registerTel" id="registerTel" placeholder="Số điện thoại">
                </div>
                <div>
                    <label for="registerLocation">Địa chỉ: </label>
                    <input type="text" name="registerLocation" id="registerLocation" placeholder="Địa chỉ">
                </div>
                <div>
                    <label for="registerStatus">Trạng thái: </label>
                    <input type="text" name="registerStatus" id="registerStatus" placeholder="Trạng thái">
                </div>
                <div>
                    <label for="registerPassword">Đổi mật khẩu: </label>
                    <input type="text" name="registerPassword" id="registerPassword" placeholder="Đổi mật khẩu">
                </div>
                <input type="submit" value="Đăng ký">
            </form>

            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png"
                    alt="">
            </div>
        </div>
    </section>
</body>

</html>