<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" type="image/png" href="../image/logo1.png" />
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" href="../stylesheets/login.css">
    <!-- <link rel="stylesheet" href="../stylesheets/chart.css"> -->
    <link rel="stylesheet" href="../stylesheets/modal.css">
    <script src="../script/modal.js" defer></script>
    <!-- icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-rounded {
            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    </style>
    
</head>

<body>
    <!-- header -->
    <!-- <header>
        <div id="logoTitle">
            
            <div id="logo">
                <img src="../image/logo1.png" alt="">
            </div>
            <h1 id="currentPage">Admin</h1>
        </div>
    </header> -->
    <!-- end header -->

    <!-- login -->
    <main id="login">
        <div>

            <h1>He thong den thong minh cao bang</h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png"
                alt="">
        </div>

        <div style="background-color: rgba(255, 255, 255, 0.5);">
            <h2>Đăng nhập</h2>
            <form id="loginForm" method="post" action="/login"> 
                <div>
                    <label for="loginUsername">Tài khoản: </label>
                    <input type="text" name="loginUsername" id="loginUsername" placeholder="ID thiết bị của bạn" required>
                </div>
                <div>
                    <label for="loginPassword">Mật khẩu: </label>
                    <input type="password" name="loginPassword" id="loginPassword" placeholder="Mật khẩu của bạn" required>
                </div>
                <input type="submit" value="Đăng nhập">
            </form>
        </div>
    </main>
</body>

</html>