#chartMain {
  margin: 5vh auto;
  height: calc(100vh - 10vh - 6rem);
  width: 90vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  /* >> */
  #chartContainer {
    height: 100%;
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    > h1 {
      font-size: 2.5rem;
    }
    /* >> */
    #chartFrame {
      height: 70%;
      width: 100%;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid rgba(100, 100, 100, 0.1);

      /* >> */
      #myChart {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }

  /* << */
  #chartMenu {
    height: 100%;
    width: calc(35% - 5vw);
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    /* >> */
    #mapItemContainer {
      width: 100%;
      /* border: 1px solid gray; */
      border-radius: 2rem;
      padding: 2rem;
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
      /* overflow: hidden; */
      max-height: 100%;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      /* >> */
      .mapItem {
        width: 100%;
        border-radius: 1rem;
        padding: 1rem;
        /* gap: 1rem; */
        /* box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1); */
        transition: ease-in-out 0.3s;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        > div {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          font-size: 1.25rem !important;
          background-color: rgba(255, 255, 255, 0.6);
          padding: 1rem;
          border-radius: 1rem;

          /* >> */
          > div {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 1rem;
            max-width: 70%;

            /* >> */
            > p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              /* max-width: 70%; */
              /* font-weight: ; */
            }

            /* << */
            > span {
              font-size: 2rem !important;
            }
          }

          > p {
            width: 50%;
            text-align: center;
            white-space: nowrap;
          }
        }
      }
    }

    #bulbForm {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.25rem;

      /* >> */
      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: 1.5rem;
        border-radius: 0.5rem;
        background-color: rgba(100, 100, 100, 0.1);
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        /* make it circle */
        border: none;
        cursor: pointer;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #4caf50;
        cursor: pointer;
      }

      div.form-sub {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
      }

      #bulbFormBrightness {
        /* gradient backgound-color */
        background: linear-gradient(
          to right,
          #00000092 0%,
          rgba(255, 255, 255, 0.1) 100%
        );
        border: 1px solid rgba(100, 100, 100, 0.5);
      }

      input[type="submit"] {
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
        background-color: #4c98af;
        color: white;
        font-size: 1.25rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }

    /* << */
  }
}

#mapItemContainer::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin-top: 2rem;

  /* >> */
  > div {
    width: 25rem;
    padding: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 3rem;
    text-align: center;
  }
}